.container{
    display:flex;
    margin:0 auto;
}

.imagem{
    width:500px;
}

.imagem img{
    width:100%;
    height:400px;
}

.botoes{
    margin:0 6em;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.botao{
    margin: 40px;
    text-align:center;
} 