.btn{
    width:150px;
    height:50px;
    padding:1em;
    font-family:'Montserrat';
    border:1px solid #e02102;
    border-radius: 12px;
    margin:0.5em;
    text-decoration: none;
    color:black;
}

.btn:hover{
    cursor:pointer;
    background-color:#e02102;
    color:#fff;
    border:1px solid #fff;
}